
@keyframes ldio-h0959i68f0w {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-h0959i68f0w div {
  left: 47px;
  top: 15.5px;
  position: absolute;
  animation: ldio-h0959i68f0w linear 1s infinite;
  background: #fe718d;
  width: 6px;
  height: 29px;
  border-radius: 3px / 14.5px;
  transform-origin: 3px 34.5px;
}.ldio-h0959i68f0w div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9444444444444444s;
  background: #fe718d;
}.ldio-h0959i68f0w div:nth-child(2) {
  transform: rotate(20deg);
  animation-delay: -0.8888888888888888s;
  background: #fe718d;
}.ldio-h0959i68f0w div:nth-child(3) {
  transform: rotate(40deg);
  animation-delay: -0.8333333333333334s;
  background: #fe718d;
}.ldio-h0959i68f0w div:nth-child(4) {
  transform: rotate(60deg);
  animation-delay: -0.7777777777777778s;
  background: #fe718d;
}.ldio-h0959i68f0w div:nth-child(5) {
  transform: rotate(80deg);
  animation-delay: -0.7222222222222222s;
  background: #fe718d;
}.ldio-h0959i68f0w div:nth-child(6) {
  transform: rotate(100deg);
  animation-delay: -0.6666666666666666s;
  background: #fe718d;
}.ldio-h0959i68f0w div:nth-child(7) {
  transform: rotate(120deg);
  animation-delay: -0.6111111111111112s;
  background: #fe718d;
}.ldio-h0959i68f0w div:nth-child(8) {
  transform: rotate(140deg);
  animation-delay: -0.5555555555555556s;
  background: #fe718d;
}.ldio-h0959i68f0w div:nth-child(9) {
  transform: rotate(160deg);
  animation-delay: -0.5s;
  background: #fe718d;
}.ldio-h0959i68f0w div:nth-child(10) {
  transform: rotate(180deg);
  animation-delay: -0.4444444444444444s;
  background: #fe718d;
}.ldio-h0959i68f0w div:nth-child(11) {
  transform: rotate(200deg);
  animation-delay: -0.3888888888888889s;
  background: #fe718d;
}.ldio-h0959i68f0w div:nth-child(12) {
  transform: rotate(220deg);
  animation-delay: -0.3333333333333333s;
  background: #fe718d;
}.ldio-h0959i68f0w div:nth-child(13) {
  transform: rotate(240deg);
  animation-delay: -0.2777777777777778s;
  background: #fe718d;
}.ldio-h0959i68f0w div:nth-child(14) {
  transform: rotate(260deg);
  animation-delay: -0.2222222222222222s;
  background: #fe718d;
}.ldio-h0959i68f0w div:nth-child(15) {
  transform: rotate(280deg);
  animation-delay: -0.16666666666666666s;
  background: #fe718d;
}.ldio-h0959i68f0w div:nth-child(16) {
  transform: rotate(300deg);
  animation-delay: -0.1111111111111111s;
  background: #fe718d;
}.ldio-h0959i68f0w div:nth-child(17) {
  transform: rotate(320deg);
  animation-delay: -0.05555555555555555s;
  background: #fe718d;
}.ldio-h0959i68f0w div:nth-child(18) {
  transform: rotate(340deg);
  animation-delay: 0s;
  background: #fe718d;
}
.loadingio-spinner-spinner-1c7cmmv87jb {
  width: 84px;
  height: 84px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-h0959i68f0w {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.84);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-h0959i68f0w div { box-sizing: content-box; }
/* generated by https://loading.io/ */
